[Unit]
Description=Restore/save wall-clock time via read-only PM8150 RTC + offset
Documentation=file:///usr/local/bin/rtc-offset.sh
DefaultDependencies=no
RequiresMountsFor=/var/lib
After=local-fs.target
Before=time-set.target systemd-timesyncd.service sysinit.target shutdown.target
Wants=time-set.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rtc-offset.sh restore
ExecStop=/usr/local/bin/rtc-offset.sh save

[Install]
WantedBy=sysinit.target
